@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #035d9d;
    --text-dark: #333333;
    --text-light: #ffffff33;
    --extra-light: #f3f4f6;
    --max-width: 1300px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

input::placeholder {
    color: var(--extra-light);
}

body {
    background: url("document.jpg") no-repeat center center/cover;
    font-family: "Open Sans", sans-serif;
    color: var(--extra-light);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.nav__logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--extra-light);
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav__links .link a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--extra-light);
    transition: color 0.3s;
}

.nav__links .link a:hover {
    color: black;
}

.section {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
}

.container {
    display: flex;
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
}

.container__left,
.container__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__left .content {
    max-width: 400px;
    display: grid;
    gap: 1rem;
}

.content h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: var(--extra-light);
    font-weight: 700;
}

.content p {
    color: black;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btns button {
    padding: 0.5rem 2rem;
    color: var(--extra-light);
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--extra-light);
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button.read__more {
    background-color: var(--extra-light);
    color: var(--text-dark);
}

button.read__more:hover,
button.our__blogs:hover {
    background-color: var(--text-light);
    color: var(--text-dark);
}

.chevrons {
    display: flex;
    gap: 1rem;
}

.chevrons span {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    color: var(--extra-light);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--extra-light);
    cursor: pointer;
    transition: background-color 0.3s;
}

.chevrons span:hover {
    background-color: var(--text-light);
}

form {
    width: 350px;
    display: grid;
    border-radius: 5px;
    background-color: var(--extra-light);
    color: var(--text-dark);
    padding: 2rem;
}

form h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.form__group {
    display: grid;
    margin-bottom: 1rem;
}

.form__group label {
    font-size: 1rem;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
}

.form__group input {
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--text-dark);
}

form button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--extra-light);
    cursor: pointer;
}

#about {
    padding: 4rem 2rem;
    background-color: var(--extra-light);
    color: var(--text-dark);
}

#about h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.icons a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-dark);
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s;
}

.icons a i {
    font-size: 1.5rem;
}

.icons a:hover {
    color: var(--primary-color);
}
h3 {
  color:#fafafa;
}